@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  transition: all 0.5s ease-in-out;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
}

body {
  margin: 0;
  font-family: "Smooch Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 0px rgba(66, 153, 225, 0.5);
}
