@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  transition: all 0.1s ease;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
}

body {
  margin: 0;
  font-family: "Smooch Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 0px rgba(66, 153, 225, 0.5);
}

/* Scrollbar styling for light mode */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  height: 100%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light mode scrollbar track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* light mode scrollbar thumb color */
  border-radius: 10px; /* rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* light mode scrollbar thumb hover color */
}

::-webkit-scrollbar-button {
  background: transparent; /* scrollbar button color */
}

::-webkit-scrollbar-corner {
  background: transparent; /* scrollbar corner color */
}

/* Scrollbar styling for dark mode */
.dark ::-webkit-scrollbar-track {
  background: #404040; /* dark mode scrollbar track color */
}

.dark ::-webkit-scrollbar-thumb {
  background: #a0a0a0; /* dark mode scrollbar thumb color */
  border-radius: 10px; /* rounded corners */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0; /* dark mode scrollbar thumb hover color */
}

.dark ::-webkit-scrollbar-button {
  background: transparent; /* keeps scrollbar button transparent in dark mode */
}

.dark ::-webkit-scrollbar-corner {
  background: transparent; /* keeps scrollbar corner transparent in dark mode */
}
